.SignupPage
  %header.Signup-header
    = render "shared/header"
  %main.Signup-main
    %section.Signup-main__information
      %h2.Signup-main__information__title
        会員情報入力
      .Signup-main__information__form
        .FormField
          = form_with model: @user, local: true do |f|
            = render 'devise/shared/error_messages', resource: resource

            .FormField__content
              = f.label 'ニックネーム'
              %span.FormField__content__require 必須
              %br
              = f.text_field :nickname, class: "FormField__content__input", placeholder: "例) フリマ太郎"
            .FormField__content
              = f.label 'メールアドレス'
              %span.FormField__content__require 必須
              %br
              = f.email_field :email, class: "FormField__content__input", placeholder: "PC・携帯どちらでも可"
            .FormField__content
              = f.label 'パスワード'
              %span.FormField__content__require 必須
              %br
              = f.password_field :password, class: "FormField__content__input", placeholder: "7文字以上の半角英数字"
            .FormField__content
              = f.label 'パスワード(確認)'
              %span.FormField__content__require 必須
              %br
              = f.password_field :password_confirmation, class: "FormField__content__input", placeholder: "7文字以上の半角英数字"
            .FormField__content
              = f.label '名前(全角)'
              %span.FormField__content__require 必須
              %br
              = f.text_field :family_name, class: "FormField__content__input--left", size: "10", placeholder: "例) 山田"
              = f.text_field :first_name, class: "FormField__content__input--right", size: "10", placeholder: "例) 太郎"
            .FormField__content
              = f.label '名前(フリガナ)'
              %span.FormField__content__require 必須
              %br
              = f.text_field :family_name_kana, class: "FormField__content__input--left", size: "10", placeholder: "例) ヤマダ"
              = f.text_field :first_name_kana, class: "FormField__content__input--right", size: "10", placeholder: "例) タロウ"
            .FormField__content
              = f.label '生年月日'
              %span.FormField__content__require 必須
              %br
              != sprintf(f.date_select(:birth_date, use_month_numbers: true, prompt: "--", start_year:Time.now.year, end_year: 1920, class: "FormField__content__birth__input--left", date_separator: '%s'),'年','月')+'日'
            .FormField__content       
              = f.submit '次へ', class: "SignUp-btn", url: deliver_addresses_path