.SignupPage
  %header.Signup-header
    = render "shared/header"
  %main.Signup-main
    %section.Signup-main__information
      %h2.Signup-main__information__title
        お届け先情報入力
      .Signup-main__information__form
        .FormField
          = form_with model: @deliver_address, url: deliver_addresses_path, method: :post, local: true do |f|
            = render 'devise/shared/error_messages', resource: @deliver_address
            .FormField__content
              = f.label '郵便番号(ハイフン(-)なし)'
              %span.FormField__content__require 必須
              %br
              = f.text_field :post_code, class: "FormField__content__input", size: "7" ,placeholder: "例）8100801"
            .FormField__content
              = f.label '都道府県'
              %span.FormField__content__require 必須
              %br
              = f.select :prefecture_code, DeliverAddress.prefecture_codes.keys.to_a, class: "FormField__content__input"
            .FormField__content
              = f.label '市町村'
              %span.FormField__content__require 必須
              %br
              = f.text_field :city, class: "FormField__content__input", placeholder: "例) 福岡市"
            .FormField__content
              = f.label '番地'
              %span.FormField__content__require 必須
              %br
              = f.text_field :house_number, class: "FormField__content__input", placeholder: "例) 博多区中洲5丁目4-18"
            .FormField__content
              = f.label '建物名'
              %span.FormField__content__optional (任意)
              %br
              = f.text_field :building_name, class: "FormField__content__input", placeholder: "例) 吉本ビル101"
            .FormField__content
              = f.label '送付先氏名(全角)'
              %span.FormField__content__require 必須
              %br
              = f.text_field :destination_family_name, class: "FormField__content__input--left", size: "10", placeholder: "例) 山田"
              = f.text_field :destination_first_name, class: "FormField__content__input--right", size: "10", placeholder: "例) 太郎"
            .FormField__content
              = f.label '送付先氏名(フリガナ)'
              %span.FormField__content__require 必須
              %br
              = f.text_field :destination_family_name_kana, class: "FormField__content__input--left", size: "10", placeholder: "例) ヤマダ"
              = f.text_field :destination_first_name_kana, class: "FormField__content__input--right", size: "10", placeholder: "例) タロウ"
            .FormField__content
              = f.label '電話番号(ハイフン(-)なし)'
              %span.FormField__content__optional 任意
              %br
              = f.text_field :phone_number, class: "FormField__content__input", size: "11" , placeholder: "例）090XXXXXXXX"
            .FormField__content       
              = f.submit '新規登録', class: "SignUp-btn", url: deliver_addresses_path