.header
  = render 'shared/header'

.breadCrumb-nav
  - breadcrumb :card_show
  = breadcrumbs separator: " &rsaquo; ", class: "breadCrumb-nav__list"

.Card
  .Card__body 
    %p 登録中のカード
    .Card__body__details
      - if @card.blank?
        登録しているカードはありません
      - else 
        %ul 
        = "カード番号：**** **** **** #{@card_information.last4}"
        %br
        = "有効期限：#{@card_information.exp_month.to_s} / #{@card_information.exp_year.to_s.slice(2,3)}"
    .Card__body__button
      -if @card.blank?
        = link_to '登録する', new_credit_card_path
      - else
        = link_to '削除する', credit_card_path(@card), method: :delete, class: "button"
      = link_to 'トップページへ戻る', root_path, class: "Link"
