.wrapper
  .wrapper__Left
    .Title
      .Title__mypage
        マイページ
    %ul.Item
      .ItemText
        設定
      %li.ItemLeft
        = link_to "#",class: "ItemLeft__profile" do
          プロフィール
      %li.ItemLeft
        = link_to credit_cards_path, method: :post, class: "ItemLeft__credit" do
          クレジットカードの登録
      %li.ItemLeft
        = link_to destroy_user_session_path, method: :delete, class: "ItemLeft__logout" do
          ログアウト
  .wrapper__Right
    .Icon
      = image_tag 'cat.jpg', alt: 'img', height: '100px', width: '100px', class: "Icon__img"
    .nickname
      sample
    %ul.Item
      %li.ItemRight
        = link_to new_product_path, class: "ItemRight__sell" do
          出品する
      %li.ItemRight
        = link_to "#", class: "ItemRight__buyhistory" do
          購入した商品