.LoginPages
  %header.Login-header
    -# = render "layouts/header"
  %main.Login-main
    %section.Login-main__information
      %h2.Login-main__information__title
        ログイン
      .Login-main__information__form
        = form_with model: @user, local: true do |f|
          .Address
            = f.email_field :email, class:"Login__input", placeholder: "メールアドレス"
          .Password
            = f.password_field :password, class: "Login__input", placeholder: "パスワード"
          .Button
            = f.submit "ログイン", class: 'Login-btn'
          %h5.SignupToPage
            アカウントをお持ちでない方はこちら
          .SignupBtn
            = f.submit "新規会員登録", class: "SignupBtn__btn", url: new_user_registration_path
