.header
  = render 'shared/header'

.main
  .main__show
    .contents
      .contents__cont
        .itemBox
          %h2.itemBox__name
            = @product.name
          .itemBox__body
            %ul.imges
              %li
                = image_tag @product.photos.first.image.url, class: 'itemBox__body__img'
                %ul.imges
                  - @product.photos.each do |product_image|
                    %li
                      = image_tag product_image.image.url, class: 'imges__picture'
          .itemBox__price
            %span
              = @product.price
            .itemBox__price-detail
              %span
                (税込)
              %span
                (送料込み)
          .itemDetail
            = @product.introduction
          .table
            %table.table__list
              %tbody
                %tr
                  %th.info
                    出品者
                  %td.import
                    name
                %tr
                  %th.info
                    カテゴリー
                  %td.import
                    = @product.category.name
                %tr
                  %th.info
                    ブランド
                  %td.import
                %tr
                  %th.info
                    商品のサイズ
                  %td.import
                    = @product.size.name
                %tr
                  %th.info
                    商品の状態
                  %td.import
                    = @product.condition.name
                %tr
                  %th.info
                    配送料の負担
                  %td.import
                    = @product.postage_payer.name
                %tr
                  %th.info
                    発送元の地域
                  %td.import
                    = @product.prefecture_code
                %tr
                  %th.info
                    発送日の目安
                  %td.import
                    = @product.prep_date.name
          .anyArea
            %ul.any
              %li.anyBtn
                = icon('fa', 'star')
                お気に入り 1
            %ul.any
              %li.anyBtn-risk
                = link_to "#", class: 'riskLink' do
                  %i.fa.fa-flag
                    不適切な商品の通報
        .commentBox
          %textarea.commentBox__comment
          %p.commentBox__noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
          %button.commentBox__btn
            %i.fa.fa-comment
              コメントする
      .links
        %ul.linksPage
          %li.before
            = link_to "#",class: 'links__next' do
              %i.fa.fa-angle-left
                %span
                  前の商品
          %li.after
            = link_to "#", class: 'links__next' do
              %span
                後ろの商品
                %i.fa.fa-angle-right
      .relatedItem
        = link_to "#", class: 'relatedItem__watch' do
          レディースをもっと見る
        .productLists
          .productList
            = link_to "#", class: 'productList__link' do
              %figure.productList__link__img
                = image_tag '',class: 'imges' 
              .productList__body
                %h3.name
                  テスト
                .datails
                  %ul
                    %li
                      10000円
                    %li
                      = icon('fa', 'star') 
                      1
                  %p
                    (税込)
          .productList
            = link_to "#", class: 'productList__link' do
              %figure.productList__link__img
                = image_tag '',class: 'imges' 
              .productList__body
                %h3.name
                  テスト
                .datails
                  %ul
                    %li
                      10000円
                    %li
                      = icon('fa', 'star') 
                      1
                  %p
                    (税込)
          .productList
            = link_to "#", class: 'productList__link' do
              %figure.productList__link__img
                = image_tag '',class: 'imges' 
              .productList__body
                %h3.name
                  テスト
                .datails
                  %ul
                    %li
                      10000円
                    %li
                      = icon('fa', 'star') 
                      1
                  %p
                    (税込)
 


.appbar
  .content
    %h2.content_title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.content_text
      今すぐ無料ダウンロード！
      .content_btn
        = link_to '#', class: 'btn_app' do
          = image_tag 'http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg'
        = link_to '#', class: 'btn_google' do
          = image_tag 'http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg'


.footer
  %ul.contents
    %li.content
      %h2.content_header FURIMAについて
      %ul
        %li 
          = link_to "会社概要（運営会社）" , "#"  
        %li
          = link_to "プライバシーポリシー" , "#" 
        %li
          = link_to " FURIMA利用規約" , "#"
        %li
          = link_to "ポイントに関する特約" , "#" 
    %li.content
      %h2.content_header FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧" , "#" 
        %li
          = link_to "ブランド一覧" , "#" 
    %li.content
      %h2.content_header ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド" , "#" 
        %li
          = link_to "FURIMAロゴ利用ガイドライン" , "#" 
        %li
          = link_to "お知らせ" , "#" 
  .footer-logo
    = link_to '#', class: 'logo' do
      = image_tag "logo-white.png"
  %p ©  FURIMA


.exhibition
  = link_to "#", class:'link' do
    .exhibition_btn
      %span.text
        出品する
      = image_tag 'icon_camera.png', class: 'camera' 
